
#container{
display: flex;
flex-direction: column;
border: 3px solid black;
justify-content: center;
}

#justifyDiv{
 display: flex;
 justify-content: space-between;
}

h3{
text-align: center;
}

    /*#text-balance{
        
       display: none;
    }*/

#balanceParagraph{
       
text-align: center;
       
}

#NetId{
        text-align: center;
        justify-content: center;
}

    

button{
    padding: 10px;
    /*border-radius: 3px;*/
    color: darkslategrey;
    /*font-weight: 550;*/
    /*text-transform: uppercase;*/
    
}


#columnIncomes{
    display: flex;
    flex-direction: column;
    
    
}

#columnExpenses{
display: flex;
flex-direction: column;
margin-right: 400px;


}

#balanceDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    margin-right: 402px;
    
}