

/*#wrapperId{
   display:flex;
   justify-content: space-around;
    border: 1 px solid red;
    background-color: blue;
    }*/

    #container{
        display: flex;
        
        border: 3px solid black;
    }
    h3{
        text-align: center;
    }

    #text-balance{
        width: 66%;
        margin-bottom: 107px;
       /*display: none;*/
    }

    #balanceParagraph{
        position: relative;
        text-align: center;
        top: 147px;
    }

    #incomeParagraph{
        position: relative;
        bottom: 5px;
    }

    #hrandparagrph{
        display: flex;
        flex-direction: column;
    }
button{
    padding: 10px;
    /*border-radius: 3px;*/
    color: darkslategrey;
    /*font-weight: 550;*/
    /*text-transform: uppercase;*/
    
}


#columnIncomes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 171px;
}

#columnExpenses{
    display: flex;
flex-direction: column;
justify-content: space-around;
margin-bottom: 171px;
}

#balance{
    /*display: flex;*/
    /*flex-direction: column;*/
    margin-top: 257px;
    text-align: center;
}